@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-chesna);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .FormField {
    @apply mb-5 grid;
  }

  .FormLabel {
    @apply text-second-color text-base font-normal leading-9;
  }

  .LabelText {
    @apply text-second-color text-sm font-medium;
  }

  .FormMessage {
    @apply text-xs text-red-500 opacity-80;
  }

  .Link {
    @apply cursor-pointer text-primary;
  }

  .AvatarRoot {
    @apply flex select-none items-center justify-center overflow-hidden rounded-full bg-white align-middle;
  }

  .AvatarImage {
    @apply h-full w-full object-cover;
    border-radius: inherit;
  }

  .AvatarFallback {
    @apply flex h-full w-full items-center justify-center bg-white text-base font-medium leading-4 text-primary;
  }

  .SideLink {
    @apply text-second-color mb-2 border border-transparent px-4 py-[6px] text-sm font-medium;
  }

  .SideLink.active,
  .SideLink:hover {
    @apply rounded border-primary bg-white text-primary;
  }

  .CheckboxRoot {
    @apply flex cursor-pointer items-center justify-center rounded;
    border: 1.5px solid #8c8c8c;
  }

  .CheckboxRoot[data-state="checked"] {
    @apply border-primary bg-primary;
  }

  .CheckboxIndicator {
    @apply text-white;
  }

  .Label {
    @apply text-title-color pl-2 text-lg font-medium;
  }

  .Tag {
    @apply rounded-md border px-1 text-sm;
  }
}
