@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-chesna);
}

@layer components {
  .FormField {
    @apply mb-5 grid;
  }

  .FormLabel {
    @apply text-base font-normal leading-9 text-second-color;
  }

  .FormMessage {
    @apply text-xs text-red-500 opacity-80;
  }

  .Input,
  .Textarea {
    @apply inline-flex w-full items-center justify-center rounded-md bg-white text-base;
    box-shadow: 0 0 0 1px #fff;
  }

  .Input:hover,
  .Textarea:hover {
    box-shadow: inset 0 0 0 1px rgba(5, 114, 236, 0.4);
  }

  .Input::selection,
  .Textarea::selection {
    @apply bg-title-color text-white;
  }

  .Input {
    @apply h-10 px-3 py-[10px] leading-4;
  }

  .Textarea {
    @apply resize-none p-[10px];
  }

  .Link {
    @apply cursor-pointer text-primary;
  }

  .AvatarRoot {
    @apply flex select-none items-center justify-center overflow-hidden rounded-full bg-white align-middle;
  }

  .AvatarImage {
    @apply h-full w-full object-cover;
    border-radius: inherit;
  }

  .AvatarFallback {
    @apply flex h-full w-full items-center justify-center bg-white text-base font-medium leading-4 text-primary;
  }

  .SideLink {
    @apply mb-2 box-border px-4 py-[6px] text-sm font-medium text-second-color;
  }

  .SideLink.active,
  .SideLink:hover {
    @apply rounded border border-primary bg-white text-primary;
  }

  .CheckboxRoot {
    @apply flex cursor-pointer items-center justify-center rounded;
    border: 1.5px solid #8c8c8c;
  }

  .CheckboxRoot[data-state="checked"] {
    @apply border-primary bg-primary;
  }

  .CheckboxIndicator {
    @apply text-white;
  }

  .Label {
    @apply pl-2 text-lg font-medium text-title-color;
  }

  .Tag {
    @apply rounded-md border px-1 text-sm;
  }
}
