@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-chesna);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 20%;

    --primary: 211.69, 95.85%, 47.25%;
    --primary-foreground: 0, 0%, 100%;

    --border: 0, 0%, 83.92%;
    --input: 0, 0%, 74.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 211.69, 95.85%, 47.25%;

    --radius: 0.5em;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .LabelText {
    @apply text-sm font-medium text-content-color;
  }

  .FormMessage {
    @apply text-xs text-red-500 opacity-80;
  }

  .Link {
    @apply cursor-pointer text-primary;
  }

  .SideLink {
    @apply mb-2 border border-transparent px-4 py-[6px] text-sm font-medium text-content-color;
  }

  .SideLink.active,
  .SideLink:hover {
    @apply rounded border-primary bg-white text-primary;
  }

  .Label {
    @apply pl-2 text-lg font-medium text-title-color;
  }

  .Tag {
    @apply rounded-md border px-1 text-sm;
  }
}
